body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad", sans-serif;
  background-color: #ffc5c5;
}
a {
  color: #191d88;
  text-decoration: none;
}

header {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  color: #191d88;
}
form {
  display: flex;
}
.form-container {
  background-color: #ff7d7d;
  padding: 22px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hint {
  margin-top: 5px;
  line-height: 1.5;
  font-size: 14px;
  font-style: italic;
  color: #191d88;
  opacity: 0.7;
}
.hidden {
  display: none;
}
.container {
  max-width: 650px;
  margin: 80px auto;
}

.poem-title {
  padding: 13px;
  border: 1px solid grey;
  border-radius: 50px;
  width: 75%;
  font-size: 15px;
  line-height: 20px;
  background-color: whitesmoke;
  color: #191d88;
}
.button {
  width: 120px;
  padding: 9px 18px;
  font-size: 15px;
  line-height: 20px;
  margin-left: 8px;
  background-color: #191d88;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 50px;
}

.poem {
  background-color: #ff7d7d;
  color: #191d88;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #af2655;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.poem strong {
  color: #af2655;
}

footer {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
